{% extends "base.html" %}
{% block contents %}

  <body>
   
    <div id="general_header">
      <h2 id="header_title">Contato</h2>
      <br /><br />  
      <hr />
    </div>

    <section id="contato_section">
      <i class="fas fa-envelope fa-2x" style="color: rgb(68, 68, 68);"></i>
      <p class="texto_contatos">mary.rodrigues@fatec.sp.gov.br</p>
      
      <div id="icons">
        <a href="https://github.com/marynhaSjc/" target="_blank" style="color: rgb(68, 68, 68);"><i class="fab fa-github-square fa-5x"></i></a>
        <a href="https://www.linkedin.com/in/mary-ellen-rodrigues/" target="_blank" style="color: rgb(68, 68, 68);"><i class="fab fa-linkedin fa-5x"></i></a>
      </div>
      <a href="https://www.google.com/maps/place/S%C3%A3o+Jos%C3%A9+dos+Campos,+Sao+Jose+dos+Campos+-+State+of+S%C3%A3o+Paulo/@-23.1894443,-46.0030986,11z/data=!4m5!3m4!1s0x94cc4bb3858cc2e7:0xba25a33168f8c1!8m2!3d-23.2198396!4d-45.8915658!5m1!1e2" target="_blank" style="color: rgb(68, 68, 68);"><i class="fas fa-map-marker-alt fa-2x"></i></a>
      <p class="texto_contatos">São José dos Campos</p>
      <p class="texto_contatos">São Paulo - Brasil</p>
    </section>

    <footer style="margin-top: 70px;">
      <i class="far fa-copyright" style="padding-right: 5px;"></i>
      <p>2021 Mary Ellen. Todos os direitos reservados.</p>
    </footer>
{% endblock contents%}
  </body>
</html>
