{% extends "base.html" %}
{% block contents %}
    <section id="home_section">
      <div>
        <img id="img_right" src="../static/img/img_backgound_1.png" alt="Foto Mary Ellen" />
        <img id="img_middle" src="../static/img/img_backgound_1.png" alt="Foto Mary Ellen" />
        <img id="img_left"src="../static/img/img_backgound_1.png" alt="Foto Mary Ellen" />
        <div id="subtitle"><p>Um passo atrás só se for para pegar impulso.</div>
      </div>
      <div id="name">
        <h2>Mary Ellen Rodrigues</h2>
      </div>
      <div id="description">
        <p>
          Estudante de desenvolvimento web, em transição de carreira, focando suas
          habilidades no desenvolvimento de aplicações web eficientes e dinâmicas.
        </p>
      </div>
    </section>

    <footer>
      <i class="far fa-copyright" style="padding-right: 5px;"></i>
      <p>2021 Mary Ellen. Todos os direitos reservados.</p>
    </footer> 
{% endblock contents %}
  </body>
</html>
