<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../static/img/logo_mary_ellen.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Dosis:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Pefil</title>
  </head>

  <body>
    <header>
      <a href="../templates/index.html" target="_blank"><img src="../static/img/logo_mary_ellen.png" alt="Logo" id="logo" /></a>
      <nav>
        <li><a href="../templates/perfil.html" target="_blank">Perfil</a></li>
        <li><a href="../templates/experiencia.html" target="_blank">Experiência</a></li>
        <li><a href="../templates/portifolio.html " target="_blank">Portifólio</a></li>
        <li><a href="../templates/contato.html" target="_blank">Contato</a></li>
      </nav>
    </header>

    <div id="cabeçalho_geral">
      <h2 id="título_cabeçalho">Perfil</h2>  
      <p id="descrição_título">Estudante de desenvolvimento web</p>
      <hr />
    </div>

    <section id="perfil_section">
      <div id="perfil_right">
        <h3 class="título_secundário">Sobre mim</h3>
        <br />
        <p>AQUI VAI UM TEXTO BREVE FALANDO SOBRE MIM. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad perspiciatis dolorem animi est beatae accusamus officiis voluptate impedit quisquam!</p>
      </div>
      <div id="perfil_middle">
        <img id="foto_middle" src="../static/img/img_backgound_1.png" alt="foto Mary Ellen">
      </div>
      <div id="perfil_left">
        <h3 class="título_secundário">Detalhes</h3>
        <br />
        <h2 class="título_secundário">Nome:</h2>
        <p>Mary Ellen Rodrigues</p>
        <br>
        <h2 class="título_secundário">Idade:</h2>
        <p>32 anos</p>
        <br>
        <h2 class="título_secundário">Localização:</h2>
        <p>São José dos Campos - SP - Brasil</p>
        <br>
      </div>
    </section>

    <footer>
      <i class="far fa-copyright" style="padding-right: 5px;"></i>
      <h4>2021 Mary Ellen. Todos os direitos reservados.</h4>
    </footer>
  </body>
</html>
