{% extends "base.html" %}
{% block contents %}

  <body>
    <div id="general_header">
      <h2 id="header_title">Perfil</h2>  
      <p id="title_description">Estudante de desenvolvimento web</p>
      <hr />
    </div>

    <section id="profile_section">
      <div id="profile_right">
        <h3 class="secondary_title">Sobre mim</h3>
        <br />
        <p>Sou natural de São José dos Campos, interior de São Paulo. Sou casada e em Dezembro de 2021 me tornarei mãe de uma menina linda chamada Safira. Sou uma profissional que esta em constante busca de qualificação e equilibrio da vida pessoal e profissional. Adoro aventuras na natureza, sou destemida e o medo do novo me trás entusiasmo.</p>
      </div>
      <div id="profile_middle">
        <img id="img_middle_rounded" class="img_middle" src="../static/img/img_backgound_1.png" alt="foto Mary Ellen">
      </div>
      <div id="profile_left">
        <h3 class="secondary_title">Detalhes</h3>
        <br />
        <h2 class="secondary_title">Nome:</h2>
        <p>Mary Ellen Rodrigues</p>
        <br>
        <h2 class="secondary_title">Idade:</h2>
        <p>32 anos</p>
        <br>
        <h2 class="secondary_title">Localização:</h2>
        <p>São José dos Campos - SP - Brasil</p>
        
      </div>
    </section>

    <footer>
      <i class="far fa-copyright" style="padding-right: 5px;"></i>
      <p>2021 Mary Ellen. Todos os direitos reservados.</p>
    </footer>
{% endblock contents%}
  </body>
</html>
