{% extends "base.html" %}
{% block contents %}

  <body>

    <div id="general_header">
      <h2 id="header_title">Portifólio</h2>
      <br /><br />  
      <hr />
    </div>

    <section id="projetos_section">
      <div class="projeto"><a href="https://github.com/marynhaSjc/API-Gfour---Fatec-SJC.git" target="_blank">Projeto 1</a></div>
      <div class="projeto"><a href="https://github.com/marynhaSjc?tab=repositories" target="_blank">Projeto 2</a></div>
      <div class="projeto"><a href="https://github.com/marynhaSjc?tab=repositories" target="_blank">Projeto 3</a></div>
      <div class="projeto"><a href="https://github.com/marynhaSjc?tab=repositories" target="_blank">Projeto 4</a></div>
      <div class="projeto"><a href="https://github.com/marynhaSjc?tab=repositories" target="_blank">Projeto 5</a></div>
      <div class="projeto"><a href="https://github.com/marynhaSjc?tab=repositories" target="_blank">Projeto 6</a></div>
    </section>

    <footer>
      <i class="far fa-copyright" style="padding-right: 5px;"></i>
      <p>2021 Mary Ellen. Todos os direitos reservados.</p>
    </footer>
{% endblock contents%}
  </body>
</html>
