<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../static/img/logo_mary_ellen.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Dosis:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Experiência</title>
  </head>

  <body>
    <header>
        <a href="../templates/index.html" target="_blank"><img src="../static/img/logo_mary_ellen.png" alt="Logo" id="logo" /></a>
        <nav>
            <li><a href="../templates/perfil.html" target="_blank">Perfil</a></li>
            <li><a href="../templates/experiencia.html" target="_blank">Experiência</a></li>
            <li><a href="../templates/portifolio.html " target="_blank">Portifólio</a></li>
            <li><a href="../templates/contato.html" target="_blank">Contato</a></li>
        </nav>
    </header>

    <div id="cabeçalho_geral">
        <h2 id="título_cabeçalho">Experiência</h2>
        <br /><br />  
        <hr />
    </div>

    <h3 id="experiência_pre-section" class="título_secundário exp_título">Educação</h3>
  
    <div  class="experiência_section">
        <div id="exp_left">
            <h3 class="título_secundário exp_título">FATEC - Falculdade de Tecnologia de São José dos Campos</h3>
            <p>Julho 2021 - Atual</p>
        </div>
        <div id="exp_right">
            <h3 class="título_secundário exp_título">Desenvolvimento de Software Multiplataforma</h3>
            <p>Formação focada no desenvolvimento de software para diversas plataformas, tais como web, desktop, móvel, em nuvem internet das coisas, empregando conceitos de segurança da informação, inteligência artificial e metodologias ágeis de gestão de projetos.</p>
        </div> 
    </div>

    <div  class="experiência_section">
        <div id="exp_left">
            <h3 class="título_secundário exp_título">ETEP Faculdades de São José dos Campos</h3>
            <p>Julho 2009 - Agosto 2014</p>
        </div>
        <div id="exp_right">
            <h3 class="título_secundário exp_título">Engenharia Industrial Mecânica</h3>
            <p>Graduação com ênfase na elaboração e gerenciamento de estudos e projetos que envolvem diversas características e especificações relacionadas a plantas de instalações, procedimentos e técnicas de execução, definição de recursos necessários, orientação ou acompanhamento das fases de construção, instalação, funcionamento, manutenção e reparação, onde são manipulados aparelhos e equipamentos, dentro dos padrões técnicos exigidos.</p>
        </div> 
    </div>

    <div  class="experiência_section">
        <div id="exp_left">
            <h3 class="título_secundário exp_título">CEPHAS - Centro de Educação Técnica Hélio Augusto de Souza</h3>
            <p>Julho 2006 - Dezembro 2007</p>
        </div>
        <div id="exp_right">
            <h3 class="título_secundário exp_título">Técnico em Mecânica</h3>
            <p>Formação para atuação na produção, instalação e manutenção de processos mecânicos, habilitando executar planejamento de produção, de instalação e manutenção, projetos, desenho e especificações de máquinas e de processos mecânicos.</p>
        </div> 
    </div>

    <h3 id="experiência_pre-section" class="título_secundário exp_título">Experiência Profissional</h3>
  
    <div  class="experiência_section">
        <div id="exp_left">
            <h3 class="título_secundário exp_título">Embraer Executive Jets - Engineering and Technology Center</h3>
            <p>Novembro 2019 - Abril 2020</p>
        </div>
        <div id="exp_right">
            <h3 class="título_secundário exp_título">Engenheira de Manufatura</h3>
            <p>Revisar e aprovar desenhos técnicos avaliando instalações, componentes, dimensões e normas técnicas; Resolver problemas de engenharia coletando dados e analisando informações, a fim de recomendar soluções eficazes e eficientes; Criar roteiros de operação estabelecendo padronização de processo; Promover mudanças de layout para melhorar o fluxo de materiais e pessoas usando conceitos de Lean Manufacturing com o objetivo de atender às metas de segurança, qualidade, entrega e custo; Garantir a conformidade com todas as especificações e regulamentos aplicáveis;</p>
        </div> 
    </div>

    <div  class="experiência_section">
        <div id="exp_left">
            <h3 class="título_secundário exp_título">Hampton Inn</h3>
            <p>Julho 2019 - Novembro 2019</p>
        </div>
        <div id="exp_right">
            <h3 class="título_secundário exp_título">Recepcionista de Hotel Bilíngue</h3>
            <p>Realizar check-in e check-out e executar reservas; Responder às reclamações de clientes de forma rápida e profissional;  Coordenar com a equipe de limpeza para se certificar de que todos os quartos estão limpos, arrumados e totalmente mobiliados para acomodar as necessidades dos hóspedes</p>
        </div> 
    </div>

    <div  class="experiência_section">
        <div id="exp_left">
            <h3 class="título_secundário exp_título">TI Automotive</h3>
            <p>Outubro 2012 - Junho 2014</p>
        </div>
        <div id="exp_right">
            <h3 class="título_secundário exp_título">Estagiária de Engenharia de Aplicação</h3>
            <p>Auxiliar na coordenação da montagem de protótipos; Apoio no processo de validação de novos produtos e na alteração de componentes e especificações; Entender e atender as necessidades dos clientes respeitando as normas técnicas vigentes; Gestão e controle do almoxarifado de protótipos; Suporte na elaboração de cotação.</p>
        </div> 
    </div>

    <footer>
      <i class="far fa-copyright" style="padding-right: 5px;"></i>
      <h4>2021 Mary Ellen. Todos os direitos reservados.</h4>
    </footer>
  </body>
</html>
