<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../static/img/logo_mary_ellen.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Dosis:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Portifólio</title>
  </head>

  <body>
    <header>
      <a href="../templates/index.html" target="_blank"><img src="../static/img/logo_mary_ellen.png" alt="Logo" id="logo" /></a>
      <nav>
        <li><a href="../templates/perfil.html" target="_blank">Perfil</a></li>
        <li><a href="../templates/experiencia.html" target="_blank">Experiência</a></li>
        <li><a href="../templates/portifolio.html " target="_blank">Portifólio</a></li>
        <li><a href="../templates/contato.html" target="_blank">Contato</a></li>
      </nav>
    </header>

    <div id="cabeçalho_geral">
      <h2 id="título_cabeçalho">Portifólio</h2>
      <br /><br />  
      <hr />
    </div>

    <section id="projetos_section">
      <div class="projeto"><a href="https://github.com/marynhaSjc/API-Gfour---Fatec-SJC.git" target="_blank">Projeto 1 - API</a></div>
      <div class="projeto"><a href="https://github.com/marynhaSjc?tab=repositories" target="_blank">Projeto 2</a></div>
      <div class="projeto"><a href="https://github.com/marynhaSjc?tab=repositories" target="_blank">Projeto 3</a></div>
      <div class="projeto"><a href="https://github.com/marynhaSjc?tab=repositories" target="_blank">Projeto 4</a></div>
      <div class="projeto"><a href="https://github.com/marynhaSjc?tab=repositories" target="_blank">Projeto 5</a></div>
      <div class="projeto"><a href="https://github.com/marynhaSjc?tab=repositories" target="_blank">Projeto 6</a></div>
    </section>

    <footer>
      <i class="far fa-copyright" style="padding-right: 5px;"></i>
      <h4>2021 Mary Ellen. Todos os direitos reservados.</h4>
    </footer>
  </body>
</html>
